# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg
dist/
build/

# Entorno virtual
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Entorno
.env

# Datos locales
*.db
*.sqlite3
